##########################
# Laravel Core
##########################
.env
.env.backup
.env.production
.env.staging
/vendor
/node_modules

##########################
# Build / Assets
##########################
/public/build
/public/hot
/public/storage

##########################
# Storage (logs, cache, etc.)
##########################
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

##########################
# Testing
##########################
.phpunit.result.cache
/.phpunit.cache

##########################
# IDEs y Editores
##########################
/.idea
/.vscode
/.fleet
/.nova
/.zed
/.phpactor.json

##########################
# OS
##########################
.DS_Store
Thumbs.db
desktop.ini

##########################
# Otros
##########################
Homestead.json
Homestead.yaml
/auth.json
*.log